@font-face {
  font-family: jost;
  src: url(../../../Jost-VariableFont_wght.ttf);
}
/* TAGS  */
.full-DemoExcel {
  height: auto;
  display: flex;
}
.DemoExcel {
  font-family: jost;
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
}
.DemoExcel h1 {
  font-size: 40px;
  font-weight: 400;
  color: #3f3a64;
}
.DemoExcel h3 {
  color: #8c89a2;
  font-size: 18px;
}
.Demo-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Demo-boxes div {
  width: 300px;
  height: 200px;
}
.Demo-boxes img {
  width: 60px;
  height: 60px;
}
.Demo-boxes p {
  font-size: 20px;
  color: #696969;
}
@media (min-width: 320px) and (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 768px) {
  .Demo-boxes div {
    margin: auto;
  }
}
