/* Animations */
.left-IntroSection,
.right-IntroSection {
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-IntroSection {
  animation-name: slideInFromLeft;
}

.right-IntroSection {
  animation-name: slideInFromRight;
}
/* Animations */

.full-IntroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  /* background-image: url(../../Assets/Gif/Hello\ there.gif);
  background-size: cover;
  background-position: center;
  opacity: 0.9; */
}
.IntroSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;

  margin-bottom: 10%;
}
.left-IntroSection {
  width: 50%;
  line-height: 4rem;
}
.left-IntroSection h3 {
  font-size: 18px;
}
.left-IntroSection-first-p {
  color: #3f3a64;
  font-size: 48px;
}
.left-IntroSection-second-p {
  line-height: 2rem;
  font-size: 19.2px;
}
.left-IntroSection-second-button {
  width: 165px;
  height: 54px;
  background-color: #7d11f9;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.left-IntroSection-second-button:hover {
  width: 170px;
  height: 57px;
  background-color: #25178f;
}
.right-IntroSection {
  width: 50%;
}
.right-IntroSection img {
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .full-IntroSection {
    height: auto;
  }
  .IntroSection {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .left-IntroSection {
    width: 100%;
    line-height: 2rem;
  }

  .right-IntroSection {
    margin-top: 15%;
    width: 100%;
  }
  .right-IntroSection img {
    width: 100%;
    height: 300px;
  }
  .left-IntroSection-second-p {
    font-size: 20px;
  }
  .left-IntroSection-first-p {
    font-size: 27px;
  }
  .left-IntroSection-first-p b {
    font-weight: 550;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .full-IntroSection {
    height: auto;
  }
  .IntroSection {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .left-IntroSection {
    width: 100%;
    line-height: 2rem;
  }

  .right-IntroSection {
    margin-top: 15%;
    width: 100%;
  }
  .right-IntroSection img {
    width: 100%;
    height: 300px;
  }
  .left-IntroSection-second-p {
    font-size: 20px;
  }
  .left-IntroSection-first-p {
    font-size: 27px;
  }
  .left-IntroSection-first-p b {
    font-weight: 550;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .left-IntroSection-first-p {
    font-size: 27px;
  }
  .full-IntroSection {
    height: 450px;
  }
  .left-IntroSection {
    line-height: 2rem;
  }
  .left-IntroSection-second-p {
    font-size: 15px;
  }
  .left-IntroSection-second-button {
    height: 44px;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  .left-IntroSection-first-p {
    font-size: 27px;
  }
  .left-IntroSection {
    line-height: 2rem;
  }
  .left-IntroSection-second-button {
    height: 44px;
  }
  .full-IntroSection {
    height: 450px;
  }
}
