@font-face {
  font-family: jost-italic;
  src: url(../../../Jost-Italic-VariableFont_wght.ttf);
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.Nav-imgLink-h1 {
  font-family: jost-italic;
}
.Nav-imgLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-image {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.nav-menu {
  width: 40%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  font-family: jost-italic;
}

.navLink {
  color: #3f3a64;
  text-decoration: none;
}
.navLink:hover {
  color: #e83e8c;
}
.nav-hamburger {
  display: none;
}

@media only screen and (max-width: 480px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .nav-menu {
    display: none;
  }

  .nav-menu.is-open {
    display: block;
  }

  .Navbar {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .nav-hamburger {
    display: block;
  }
  .Nav-imgLink {
    width: 100%;

    justify-content: space-between;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .nav-menu {
    display: none;
  }

  .nav-menu.is-open {
    display: block;
  }

  .Navbar {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .nav-hamburger {
    display: block;
  }
  .Nav-imgLink {
    width: 100%;

    justify-content: space-between;
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .nav-menu {
    width: 60%;
  }
}
